.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-around;
}

img{
  height:300px;
}

body{
  background-color:purple;
}

#name{
  border-radius:10px;
}

#input{
  border-radius:10px;
}

#shoot{
  border-radius:10px;
}